
.container {
    margin-top: 100px;
}

.row {
	/* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	margin: 10px;
}

#proj1 {
  background-color: #e6f2ff;
  border-radius: 10px;
}

.sec1 {
 background-image: url(./images/emergRoom.jpg);
  background-repeat: no-repeat;
  background-position: 60% 40%; 
  background-size: cover;
  border: 2px solid #595959;
  border-radius: 20px;
  padding: 100px;

}

#proj2 {
  background-color:#ffccee;
  border-radius: 10px;
}

.sec2 {
  background-image: url(./images/port.png);
  background-repeat: no-repeat;
  background-position: 60% 40%; 
  background-size: cover;
  border: 2px solid #595959;
  border-radius: 20px;
  padding: 100px;

}

#proj3 {
	background-color: white;
  border-radius: 10px;
}

.sec3 {
 background-image: url(./images/spellCheck.jpg);
  background-repeat: no-repeat;
  background-position: 60% 40%; 
  background-size: cover;
  border: 2px solid #595959;
  border-radius: 20px;
  padding: 100px;

}

#proj4 {
  background-color:  #d9f2d9;
  border-radius: 10px;
}

.sec4 {
  background-image: url(./images/assistant.jpg);
  background-repeat: no-repeat;
  background-position: 60% 40%; 
  background-size: cover;
  border: 2px solid #595959;
  border-radius: 20px;
  padding: 100px;

}

#proj5 {
  background-color: #ffc299;
  border-radius: 10px;
}

.sec5 {
  background-image: url(./images/TrafficLights.jpg);
  background-repeat: no-repeat;
  background-position: 60% 40%; 
  background-size: cover;
  border: 2px solid #595959;
  border-radius: 20px;
  padding: 100px;
}
