main {
  background-color: #e6f2ff;
  padding: 15px;
  border-radius: 15px;
}

main .profile {
	background-image: url(../Images/profile1.jpg);
	background-repeat: no-repeat;
  	border-radius: 20px;
  	background-size: cover;
  	border: 7px solid black;     
  	color: white;
  	text-align: center;
  	font-size: 30px;
  	margin-left: 25px;

}

@media screen and (max-width: 991px) {

	main .profile { 
		background-image: url(../Images/profile1.jpg);
		background-repeat: no-repeat;
		width: 350px;
		height: 350px;
		border-radius: 5px;
		border: 7px solid black;
		margin-left:80px;
	}

}

@media screen and (max-width: 992px) {

	main .profile { 
		margin-left:170px;
	}

}

@media screen and (max-width: 767px) {

	main .profile { 
		margin-left:80px;
	}

}

.txt {
	background-color: #f2f2f2;
	border-radius: 5px;
	color: #000000;
	border: 2px solid black;
	-moz-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	-webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}


.txt p {
	text-indent: 1em;
}

.txt ul ul li {
	padding-top:3px; 
	padding-bottom: 3px;
}
