main {
  background-color: #e6f2ff;
  padding: 15px;
  border-radius: 15px;
}

.jumbotron {
  text-align: center;
  background-image: url(../Images/personal.jpg);
  background-repeat: no-repeat;
  background-position: 60% 40%; 
  background-size: cover;
  border-radius: 20px;
  padding-bottom: 120px;
  
}

.jumb {
  color: white;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}

.r1 p , .r1 h4 {
  text-shadow: none;
  color: black;
}

.r2 p , .r2 h4{
  text-shadow: none;
  color: black;
}

.r1 img, .r2 img {
  width: 236.25;
  height: 405px;
  border-radius: 5px;
  border: 2px solid #595959;
}

.row ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.row ul {
  padding-left: 12px;
}

.txt {
  padding: 15px 20px 15px 20px;
  background-color: #F5F3EE;
  border-radius: 5px;
  border: 2px solid #595959;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  margin: 10px;
}

.txt2 {
  background-color: #ffffe6;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #595959;
}

.txt2 p, .txt2 h4{
  margin: 10px;
}

.r2 .col-lg-3 img {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffe6;
  border: 2px solid #595959;
}

.image1:hover {
  content: url(../Images/timer2.png);
}

.image2:hover {
  content: url(../Images/info.png);
}

@media screen and (min-width: 1200px) {
  .r2 ul li {
    padding-left: 50px;
  }
}

@media screen and (max-width: 988px) {
   .prt2 {
    padding-left: 58px;
    background-color: #ffffe6;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #595959;
  }

  .row ul li{
    padding-left: 30px;
  }

  .r2 .col-lg-3 img {
  margin: 10px;
  padding: 0px;
  border: 2px solid #595959;
  }

}







