body {
  padding-top: 20px;
  background-color: lightgrey; 
/* background-color: #2B2B2B;*/

} 

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-image: url(../Images/coverImage.png);
  /*border: 2px solid #595959;*/
}

.jumbotron h1, .lead {
  color: white;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%); /*#f7f7f7*/
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.row div {
  margin: 10px;
} 

.col-lg-4, .col-lg-3 p {
   color: #fff;
   text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.col1 {
  background-image: url(../Images/app.jpg);
  background-repeat: no-repeat;
  background-position: 60% 40%; 
  background-size: cover;
 /* border: 2px solid #595959; */
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 79px;

}

.col2 {
  background-image: url(../Images/aboutMe.jpeg);
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  /*border: 2px solid #595959;   */    
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 73px;

}

.col3 {
  background-image: url(../Images/Project.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
 /* border: 2px solid #595959;  */   
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 79px;

}
